
*{
    margin: 0;
    padding: 0;
    /* text-emphasis: none; */
}
body{
    background-attachment: fixed;
    background: linear-gradient(orange,brown);
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    /* height: 100vh; */
    /* width: 40o;
     */
     /* height: 500px; */
     /* heog */
height: 100vh;
} 
div{
    /* background: linear-gradient(234,34); */
    background: linear-gradient(violet,brown);
    margin: 400px;
    /* height: 100px; */
    /* height: 300px;
     */
     /* height: 200px; */
     height: 140px;
    width: 300px;
    border-radius: 30px;
    justify-content: center;
    padding: 40px;
}
h1{
    color: wheat;
    /* pad: ; */
    padding: 10px;
}
button{
    padding: 10px;;
    /* margin: 30px;
     */
     /* max-resolution: 
     ;
      */
      margin: 10px;
      border-radius: 30px;
      color: aqua;
      /* v */
      background-color: beige;
}
button:hover{
    /* columns: ; */
    color: antiquewhite;
    color: blue;
    background-color: brown;
    /* background-color: burlywood; */
    /* background-color: blueviolet; */


}button:active{
    background-color: black;
    color: white;
}
/* index.css
 --- IGNORE ---
